<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.genuitec.javascript.debug.launchConfigurationType">
<stringAttribute key="org.eclipse.atf.config.appPath" value="WebRoot/server/Test2/Test2.html"/>
<booleanAttribute key="org.eclipse.atf.config.isinternalbrowser" value="true"/>
<booleanAttribute key="org.eclipse.atf.config.isurl" value="false"/>
<stringAttribute key="org.eclipse.atf.config.project" value="jquery"/>
<stringAttribute key="org.eclipse.atf.config.webmodule" value="jquery"/>
<stringAttribute key="org.eclipse.atf.ui.config.fullPath" value=""/>
<booleanAttribute key="org.eclipse.atf.ui.config.useseverconfig" value="false"/>
<stringAttribute key="org.eclipse.atf.ui.debug.browserexec" value=""/>
<stringAttribute key="org.eclipse.atf.ui.debug.processType" value="JavaScript Application"/>
</launchConfiguration>
